name: G8 FX Telegram Feed

on:
  # This listens for the ping from cron-job.org
  repository_dispatch:
    types: [trigger-fx-feed]
  
  # Allows you to still click "Run workflow" manually in GitHub
  workflow_dispatch:

jobs:
  execute-all-feeds:
    runs-on: ubuntu-latest
    timeout-minutes: 15 

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests selenium webdriver-manager selenium-stealth yfinance pandas beautifulsoup4 cloudscraper pdfplumber

      - name: Run Market Scripts
        run: |
          python fx_feed.py
          python fx_options.py
          python spdr_sectors.py
          python nasdaq.py
          python russell.py
          python bitcoin.py
          python metals.py
