name: G8 FX Telegram Feed

on:
  schedule:
    - cron: '*/20 * * * 1-5'
  workflow_dispatch:

jobs:
  fx_feed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests selenium webdriver-manager selenium-stealth yfinance pandas beautifulsoup4

      - name: Run FX Feed Script
        run: python fx_feed.py
